.client-slider {
    position: relative;
    margin-bottom: 32px;
    .swiper-slide {
        img {
            max-width: 100%;
        }
    }
    @include medium {
        margin: 0 60px;
    }
    @include small {
        margin: 0 25px 50px;
    }
}
.clients {
    position: relative;
    margin-bottom: 125px;
    .swiper-button-next, .swiper-button-prev {
        z-index: 2;
        width: 60px;
        height: 60px;
        background-color: #ffffff;
        border-radius: 50%;
        outline: none;
        background-image: url(../images/arrow.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 15px;
        transition: all 0.2s;
        right: 25px;
        top: 70px;
        @include medium {
            top: 43px;
        }
        @include small {
            width: 24px;
            height: 24px;
            background-size: 7px;
            right: 15px;
        }
        &:after {
            display: none;
        }
        &:hover {
            background-color: rgba(242,242,242,1) ;
            
        }
    }  
    .swiper-button-prev {
        left: 25px;
        transform: rotate(180deg);
        @include small {
            left: 15px;
        }
    }  
}
.show_pr {
    position: relative;
    &:before {
        content: '';
        position: absolute;
        width: 300px;
        height: 9px;
        background-image: url(../images/line.svg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center right;
        left: 0;
        top: 22px;
        @include small {
            display: none;
        }        
    }       
    &:after {
        content: '';
        position: absolute;
        width: 300px;
        height: 9px;
        background-image: url(../images/line.svg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center right;
        right: 0;
        transform: rotate(180deg);
        top: 22px;
        @include small {
            display: none;
        }
    }       
        
}
.tn-atom--clients {
    position: relative;
    max-width: 530px;
    display: block;
    margin: 0 auto;
    text-align: center;
    @include small {
        padding: 15px 0;
    }
}