mixin client-slider
    .clients
        .container-fluid
            .swiper-button-next
            .client-slider.swiper-container
                .swiper-wrapper
                    .swiper-slide 
                        picture
                            source(type="image/webp" srcset="images/webp/slider/1.webp")
                            source(type="image/jpeg" srcset="images/slider/1.jpg")
                            img(src="images/slider/1.jpg", alt="")
                    .swiper-slide 
                        picture
                            source(type="image/webp" srcset="images/webp/slider/2.webp")
                            source(type="image/jpeg" srcset="images/slider/2.jpg")
                            img(src="images/slider/2.jpg", alt="")
                    .swiper-slide 
                        picture
                            source(type="image/webp" srcset="images/webp/slider/3.webp")
                            source(type="image/jpeg" srcset="images/slider/3.jpg")
                            img(src="images/slider/3.jpg", alt="")  
                    .swiper-slide 
                        picture
                            source(type="image/webp" srcset="images/webp/slider/4.webp")
                            source(type="image/jpeg" srcset="images/slider/4.jpg")
                            img(src="images/slider/4.jpg", alt="")    
                    .swiper-slide 
                        picture
                            source(type="image/webp" srcset="images/webp/slider/5.webp")
                            source(type="image/jpeg" srcset="images/slider/5.jpg")
                            img(src="images/slider/5.jpg", alt="")  
                    .swiper-slide 
                        picture
                            source(type="image/webp" srcset="images/webp/slider/6.webp")
                            source(type="image/jpeg" srcset="images/slider/6.jpg")
                            img(src="images/slider/6.jpg", alt="")            
                    .swiper-slide 
                        picture
                            source(type="image/webp" srcset="images/webp/slider/7.webp")
                            source(type="image/jpeg" srcset="images/slider/7.jpg")
                            img(src="images/slider/7.jpg", alt="")
                    .swiper-slide 
                        picture
                            source(type="image/webp" srcset="images/webp/slider/8.webp")
                            source(type="image/jpeg" srcset="images/slider/8.jpg")
                            img(src="images/slider/8.jpg", alt="")
                    .swiper-slide 
                        picture
                            source(type="image/webp" srcset="images/webp/slider/9.webp")
                            source(type="image/jpeg" srcset="images/slider/9.jpg")
                            img(src="images/slider/9.jpg", alt="")
                    .swiper-slide 
                        picture
                            source(type="image/webp" srcset="images/webp/slider/10.webp")
                            source(type="image/jpeg" srcset="images/slider/10.jpg")
                            img(src="images/slider/10.jpg", alt="")
            .swiper-button-prev
            .show_pr
                a(href="").tn-atom.tn-atom--clients ПОСМОТРЕТЬ ВСЕ ПРОЕКТЫ