@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap&subset=cyrillic');
.container-fluid {
    max-width: 1190px;
    @include large {
        padding: 0 25px;
    }
    @include small {
        padding: 0 15px;
    }
}
body {
    color: #14143d;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    font-weight: 400;
    overflow-x: hidden;
}
.title {
    color: #14143d;
    font-size: 30px;
    line-height: 0.95;
    font-weight: 700;
    text-align: center;
    position: relative;
    padding-bottom: 33px;
    margin-bottom: 21px;
    @include small {
        font-size: 26px;
        padding-bottom: 29px;
        margin-bottom: 17px;
    }
    &:after {
        content: '';
        display: block;
        position: absolute;
        left: 50%;
        width: 60px;
        height: 6px;
        bottom: 0;
        transform: translateX(-50%);
        background-color: #2c8dbf;
    }
    &--index-project {
        margin-bottom: 50px;
        @include large {
            margin-bottom: 68px;
        }
        @include medium {
            margin-bottom: 27px;
        }
        @include small {
            margin-bottom: 30px;
        }
    }
}
.t-desc {
    font-size: 20px;
    font-weight: 300;
    line-height: 1.3;
    text-align: center;
    margin-bottom: 20px;
    max-width: 480px;
    margin: 0 auto;
    @include small {
        font-size: 18px;
    }
}