@import '_mixins';
@import '_varibles';
@import '_default';
@import '../blocks/header/header';
@import '../blocks/block-index/block-index';
@import '../blocks/what-do-index/what-do-index';
@import '../blocks/index-project/index-project';
@import '../blocks/client-slider/client-slider';
@import '../blocks/forms/forms';
@import '../blocks/me-jobs/me-jobs';
@import '../blocks/command/command';
@import '../blocks/cases/cases';
@import '../blocks/footer/footer';
@import '../blocks/conctacts/conctacts';
@import '../blocks/command_desc/command_desc';
@import '../blocks/404/404';

.case-images-top {
    height: 100vh;
    position: relative;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    &--case2 {
        max-height: 620px;
        background-attachment: scroll;
        @include medium {
            max-height: none;
            height: auto;
            min-height: 100vh;
        }    
    }
}

.header-case {
    background-image: linear-gradient(to bottom, rgba(9,9,43,0.80), rgba(9,9,43,0.70)) ;
    height: 100vh;
    position: relative;
    &--case2 {
        max-height: 620px;
        background-image: linear-gradient(to bottom, rgba(9,9,43,1), rgba(9,9,43,0.8));
        @include medium {
            padding-bottom: 50px;
            max-height: none;
            height: auto;
            min-height: 100vh;
        }        
    }
    &__content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        text-align: center;
        max-width: 840px;
        width: 100%;
        margin: 0 auto;
    }
    .menu__link {
        color: #ffffff;
        &:hover {
            color: #2c8dbf;
        }
    }
    .h-phone {
        color: #ffffff;
    }
    .logo {
        background-image: url(../images/logo_white.svg);
        height: 71.7px;
    }
    .header-container {
        z-index: 5;
        @include medium {
            background-color: rgb(9, 9, 43);
        
        }
    }
}
.case-title {
    font-size: 52px;
    line-height: 1.23;
    color: #ffffff;
    padding-bottom: 50px;
    position: relative;
    @include medium {
        font-size: 40px;
    }
    @include small {
        font-size: 30px;
    }
    &:after {
        content: '';
        width: 160px;
        height: 1px;
        background-color: #ffffff;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }
}
.case-description {
    color: #fff;
    font-size: 22px;
    line-height: 1.55;
    @include medium {
        font-size: 18px;
        padding: 0 15px;
    }
    @include small {
        font-size: 16px;
        padding: 0;
    }
}
.arrow {
    position: absolute;
    width: 39px;
    height: 19px;
    background-image: url(../images/arrow-svg.svg);
    background-position: center;
    background-repeat: no-repeat;
    z-index: 5;
    left: 50%;
    transform: translateX(-50%);
    bottom: 50px;
    cursor: pointer;
    transition: all ease-in-out 0.2s;
    animation: t-arrow-bottom 1.7s infinite ease;
}
@keyframes t-arrow-bottom {
    0% {

        transform: translateY(0)
    }

    50% {
        transform: translateY(-7px)
    }

    55% {
        transform: translateY(-7px)
    }

    100% {
        transform: translateY(0)
    }
}
.case-subtitle {
    font-size: 30px;
    line-height: 0.95;
    font-weight: 700;
    position: relative;
    color: #14143d;
    padding-bottom: 26px;
    display: inline-flex;
    align-items: center;
    margin-bottom: 22px;
    @include medium {
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
    }
    @include small {
        font-size: 22px;
        padding-bottom: 15px;
    }
    &:after {
        content: '';
        width: 40px;
        height: 4px;
        background-color: #2c8dbf;
        position: absolute;
        bottom: 0;
        left: 0;
        @include medium {
            left: 50%;
            transform: translateX(-50%);
        }        
    }
    img {
        width: 60px;
        height: 60px;
        position: absolute;
        top: -16px;
        right: -72px;
    }
}
.case-content {
    padding: 90px 0 75px;
    font-size: 18px;
    @include small {
        font-size: 15px;
    }
    p {
        margin-bottom: 20px;
    }
    dl, ol, ul {
        list-style-position: inside ;
        padding: 0 0 0 3px;
        margin-bottom: 20px;
    }
    img {
        max-width: 100%;
    }
    &--continuation {
        padding-top: 0;
    }
    &--caseTwo {
        padding: 105px 0 75px;
        font-size: 16px;
        @include medium {
            padding: 50px 0;
        }
        .case-numbers {
            margin-left: 0;
            margin-bottom: 45px;
        }
    }
}
.case-list-img {
    
    img {
        max-width: 100%;
        margin-bottom: 20px;
    }
}
.case-numbers {
    font-size: 30px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background-color: #2c8dbf;
    margin: 0 0 52px -96px;
    @include medium {
        margin-left: 0;
        font-size: 24px;
        width: 50px;
        height: 50px;
        margin: 20px 0;
    }
}
.list-100 {
    width: 1160px;
    margin: 0 calc(-8.333333333% + -15px);
    @include large {
        max-width: 100%;
        margin: 0;
    }
}
.case-slider {
    width: 1160px;
    margin: 0 calc(-8.333333333% + -15px);
    position: relative;
    @include large {
        margin: 0 auto;
        width: auto;
    }
    &__images {
        height: 600px;
        margin-bottom: 62px;
        text-align: center;
        @include large {
            height: 357px;
        }
        @include small {
            height: auto;
            margin-bottom: 20px;
        }
        img {
            max-width: 100%;
            object-fit: cover;
            height: 100%;
            @include small {
                height: auto;
            }
        }
    }
    &__desc {
        border-top: 1px solid #eee;
        max-width: 760px;
        margin: 0 auto;
        text-align: center;
        padding: 12px 0 0;
        @include small {
            border: 0;
        }
    }
    &__title {
        font-size: 20px;
        font-weight: 600;
        color: #14143d;
        margin-bottom: 4px;
    }
    
    .swiper-pagination {
        bottom:  auto;
        top: 617px;
        
        @include large {
            top: 377px;
        }
        @include small {
            position: static;
            margin-bottom: 15px;
        }
        .swiper-pagination-bullet {
            width: 10px;
            height: 10px;
            margin: 0 10px;
        }        
    }
    .swiper-pagination-bullet-active {
        background-color: #14143d;
    }

    .swiper-wrapper {
        margin-bottom: 14px;
    }
    .swiper-button-next, .swiper-button-prev {
        width: 50px;
        height: 50px;
        background-color: rgba(44,141,191,1);
        border-radius: 50%;
        top: 297px;
        transform: translateY(0);
        @include large {
            top: 50%;
            transform: translateY(-50%);
        }
        @include small {
            display: none;
        }
        &:after {
            color: #ffffff;
            font-size: 22px;
        }
    }
    .swiper-button-next {
        right: -81px;
    }
    .swiper-button-prev {
        left: -81px;
    }
}
.link-client {
    font-weight: 500;
    font-size: 20px;
    position: relative;
    padding-top: 17px;
    max-width: 760px;
    margin: 17px auto 0;
    &::before {
        top: 0;
        width: 80px;
        height: 3px;
        position: absolute;
        left: 0;
        top: 0;
        background-color: #2c8dbf;
        content: '';
    }
    a {
        color: #ff8562;
        text-decoration: none;
    }
}
.case-form {
    background-color: #09092b;
    padding: 88px 0 90px;
    &--Two {
        margin-bottom: 75px;
    }
    .b-title {
        max-width: 720px;
        margin: 0 auto 12px;
        &:after {
            display: none;
        }
    }
    .b-form {
        display: flex;
        justify-content: space-between;
        @include medium {
            flex-direction: column;
            margin: 0 auto;
            max-width: 268px;
        }
        &__input {
            max-width: 268px;
            width: 100%;
        }
        &__button {
            max-width: 295px;
            width: 100%;
            padding: 0;
        } 
    }
    .politic {
        text-align: center;
    }
    
}
.b-title_desc {
    font-size: 17px;
    max-width: 720px;
    margin: 0 auto 76px;
    color: #ffffff;
    text-align: center;
    position: relative;
    &:after {
        position: absolute;
        right: -49px;
        bottom: -17px;
        width: 50px;
        height: 72px;
        content: '';
        background-image: url(../images/arr.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        @include medium {
            display: none;
        }
    }
}
.case-lead {
    background-color: #09092b;
    color: #ffffff;
    font-size: 19px;
    line-height: 1.3;
    min-height: 150px;
    padding: 30px;
    position: relative;
    margin-bottom: 25px;
    &:before {
        content: '';
        position: absolute;
        top: -10px;
        left: 0;
        background-image: url(../images/clip.png);
        width: 37px;
        height: 48px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        @include small {
            width: 32px;
            height: 39px;
            top: -6px;
        }
    }
    ul {
        padding: 0;
        margin: 0;
        list-style: none;
        li {
            position: relative;
            font-size: 18px;
            padding-left: 25px;
            margin-bottom: 18px;
            @include small {
                font-size: 17px;
            }
            &:last-child {
                margin-bottom: 0;
            }
            &:before {
                content: '';
                position: absolute;
                width: 10px;
                height: 10px;
                left: 0;
                top: 7px;
                border-radius: 50%;
                background-color: #ffffff;
            }
        }
    }
}
.case-form-container {
    border: 15px solid #26cc73;
    box-shadow: 0px 0px 29px 0px rgba(0, 0, 0, 0.3);
    padding: 56px 45px 70px;
    max-width: 760px;
    margin: 0 auto;
    @include small {
        border-width: 5px;
        padding: 25px 15px;
    }
    .b-title {
        font-size: 42px;
        margin-bottom: 21px;
        @include small {
            font-size: 20px;
            margin-bottom: 10px;
        }
    }
    .b-title_desc {
        font-size: 24px;
        margin-bottom: 71px;
        @include small {
            font-size: 18px;
            margin-bottom: 30px;
        }
        &:after {
            display: none;
        }
    }
    .b-form {
        flex-direction: column;
        padding: 0 35px;
        align-items: center;
        @include medium {
            padding: 0;
        }
    }
    .b-form__input {
        max-width: none;
    }
    .b-form__button {
        max-width: 260px;
        height: 55px;
        font-weight: 700;
    }
}
.case-head {
    display: flex;
    padding-top: 27px;
    align-items: center;
    @include medium {
        flex-direction: column;
        justify-content: center;
    }
    &__left {
        max-width: 480px;
        @include medium {
            text-align: center;
        }
    }
    .description-case {
        max-width: 418px;
        @include medium {
            margin: 0 auto 15px;
            padding: 10px;
            font-size: 21px;
        }
        @include small {
            font-size: 18px;
        }
    }
    .case-title {
        font-size: 60px;
        padding-bottom: 0;
        margin-bottom: 8px;
        font-weight: 700;
        @include small {
            font-size: 30px;
        }
        &:after {
            display: none;
        }
    }
}
.description-case {
    color: #ffffff;
    font-size: 22px;
    line-height: 1.4;
    padding: 10px 19px;
    font-weight: 500;
    border: 2px solid #2c8dbf;
    margin-bottom: 11px;
    @include medium {
        font-size: 21px;
    }
    @include small {
        font-size: 18px;
    }
}
.case-info {
    color: #ffffff;
    font-size: 20px;
    line-height: 1.6;
    @include medium {
        font-size: 18px;
        margin-bottom: 20px;
    }
    @include small {
        font-size: 15px;
    }
}
.case-border {
    width: 700px;
    height: 402px;
    background-image: url(../images/screen_line.png);
    background-position: center;
    background-size: cover;
    margin: 0px 0 0 -20px;
    padding: 31px;
    @include large {
        width: 540px;
        height: 310px;
        padding: 23px;
        margin: 0 auto;
    }
    @include small {
        width: 300px;
        height: 175px;
        padding: 13px;
    }
    img {
        max-width: 510px;
        width: 100%;
        display: block;
        margin: 0 auto;
        @include large {
            max-width: 394px;
        }
        @include small {
            max-width: 221px;
        }
    }
}
.case-containers {
    position: relative;
    display: flex;
    align-items: flex-start;
    padding-bottom: 71px;
    justify-content: space-between;
    margin-bottom: 105px;
    @include medium {
        flex-direction: column;
        margin-bottom: 50px;
        padding-bottom: 0;
    }
    &__main {
        max-width: 460px;
        width: 100%;
        flex: 0 0 auto;
        @include large {
            max-width: 360px;
        }
        @include medium {
            max-width: none;
            text-align: center;
        }
        .case-subtitle {
            @include medium {
                left: 0;
                transform: translateY(0);
            }
        }
    }
    &::after {
        content: '';
        background-color: #f0f0f0;
        position: absolute;
        height: 100%;
        width: 100rem;
        left: -55rem;
        top: 0;
        z-index: -1;
        @include medium {
            display: none;
        }
    }
}
.case-leads-list {
    display: flex;
    margin: 104px 0 0 0;
    @include medium {
        width: 100%;
        justify-content: space-between;
    }
    @include small {
        flex-wrap: wrap;
    }
    .case-lead {
        padding: 48px 39px 0 20px;
        margin-right: 30px;
        width: 200px;
        flex: 0 0 auto;
        min-height: 200px;
        @include large {
            width: 180px;
        }
        @include medium{
            max-width: 200px;
            width: 100%;
        }
        @include small {
            margin-right: 0;
            max-width: none;
            min-height: auto;
            padding: 40px 15px 20px;
            font-size: 17px;
        }
        &:before {
            left: 10px;
        }
        &:last-child {
            margin-right: 0;
        }
        strong {
            display: block;
            font-size: 24px;
            @include small {
                display: inline-block;
                margin-left: 5px;
                font-size: 20px;
            }
        }
    }
}
.case-analiz {
    display: flex;
    align-items: flex-start;
    position: relative;
    flex-wrap: wrap;
    padding-bottom: 106px;
    @include large {
        padding-bottom: 50px;
    }
    @include medium {
        width: 100%;
    }
    &::after {
        content: '';
        background-color: #f0f0f0;
        position: absolute;
        height: 100%;
        width: 100rem;
        right: -59rem;
        top: 0;
        z-index: -1;
        @include large {
            display: none;
        }
    }
    &__text {
        max-width: 430px;
        width: 100%;
        flex: 0 0 auto;
        @include large {
            max-width: 330px;
        }
        @include medium {
            max-width: 100%;
            text-align: center;
        }
        .case-subtitle {
            @include medium {
                left: 0;
                transform: translateY(0);
            }
        }
    }
    &__lead {
        margin-top: 120px;
        margin-left: 70px;
        max-width: 650px;
        @include large {
            margin-left: auto;
            max-width: 600px;
        }
        @include medium {
            max-width: none;
            margin-left: 0;
            margin-top: 50px;
            width: 100%;
        }
        .case-lead {
            padding: 40px;
            @include small {
                padding: 35px 15px;
            }
            &:before {
                left: 10px;
            }
        }
    }
}
.case-gallery {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    width: 100%;

    @include medium {
        flex-wrap: wrap;
        justify-content: flex-start;
    }
}
.gallery-img {
    border: 4px solid #2c8dbf;
    margin: 0 15px;
    display: block;
    max-height: 270px;
    @include medium {
        margin: 0 15px 20px 0;
        max-width: 220px;
    }
    @include small {
        max-width: 48%;
        
        margin: 0 1% 20px;
    }
    &:first-child {
        margin-left: 0;
    }
    &:last-child {
        margin-right: 0;
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &:hover {
        cursor: zoom-in;
    }
}
.case-step-bg {
    min-height: 495px;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: #ffffff;
    font-size: 18px;
    @include medium {
        font-size: 16px;
    }
    .case-subtitle {
        color: #ffffff;
    }
    .case-numbers {
        margin-left: 0;
    }
}
.case-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas: 
      "case-big-image case-desc"
      "case-gallery case-gallery";
    margin-bottom: 113px;
    @include large {
        grid-template-areas: 
        "case-big-image case-desc"
        "case-gallery case-desc";  
    }
    @include medium {
        flex-direction: column;
        display: flex;
        margin-bottom: 50px;       
    }
    .case-gallery  {
        grid-area: case-gallery;
        margin-top: 45px;
        @include large {
            flex-wrap: wrap;
        }
        a {
            &:first-child {
                display: none;
                @include medium {
                    display: block;
                }
            }
        }   
        .gallery-img {
            @include large {
                max-width: 48%;
                margin: 0 0 15px;
            }
            @include medium {
                max-width: 220px;
                margin: 0 15px 20px 0;
            }
            @include small {
                max-width: 48%;
                margin: 0 1% 20px;
            }
        }
    }
}
.case-big-image {
    grid-area: case-big-image;
    padding-right: 20px;
    .gallery-img {
        border-width: 0;
        max-height: none;
    }
 
    @include medium {
        display: none;
    }
}
.case-desc {
    grid-area: case-desc;
    padding: 0 0 0 15px;
    ol, ul {
        font-weight: 700;
        margin: 0;
        span {
            font-weight: 400;
        }
    }
    li {
        margin-bottom: 25px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}
.link-case {
    display: inline-flex;
    text-decoration: none;
    align-items: center;
    font-weight: 500;
    color: #2c8dbf;
    font-size: 14px;
    border-radius: 50px;
    border: 1px solid #2c8dbf;
    padding: 0 30px;
    min-height: 42px;
    margin-top: 53px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.3s;
    &:hover {
        background-color: #2c8dbf;
        color: #ffffff;
    }
}
@import '../blocks/blog/blog';
.block-page {
    font-size: 20px;
    line-height: 1.55;
    padding-bottom: 90px;
    @include large {
        padding-top: 60px;
    }
    @include large {
        font-size: 18px;
    }
    .title {
        font-size: 36px;
        @include large {
            font-size: 32px;
        }
        @include small {
            font-size: 28px;
        }
        &:after {
            display: none;
        }
    }
    &__img {
        max-width: 760px;
        margin: 0 auto 37px;
        img {
            text-align: center;
            max-width: 100%;
            display: block;
            margin: 0 auto;
        }
    }
    p {
        margin-bottom: 31px;
    }
}
.read_also {
    background-image: url(../images/next-page.svg);
    background-size: 30px;
    background-position: left center;
    background-repeat: no-repeat;
    display: inline-block;
    font-size: 18px;
    padding-left: 44px;
    color: #14143d;
    text-decoration: none;
    @include small {
        font-size: 14px;
        line-height: 1.45;
    }
    span {
        text-decoration: underline;
    }
    strong {
        display: block;
    }
}
.blog-block {
    @include medium {
        padding-top: 55px;
    }
}