mixin cases
    section.cases
        .container-fluid
            h1.title Кейсы по продвижению и рекламе в <br>интернете
            .tabs-container
                .tabs-list
                    .tabs-item.tabs-item--active(data-item="all") ВСЕ ПРОЕКТЫ
                    .tabs-item(data-item="b2c") B2C
                    .tabs-item(data-item="b2b") B2B
                .cases-list
                    .case(class="wow fadeInLeft" data-wow-delay="0.5s" data-id="b2c") 
                        a(href="").case__header(style="background-image: url(images/medical.jpeg)")
                            .case__name Кейс CMD - медцентр <br>и лаборатория
                            h6.case__title Как запустить медцентр и лабораторию, обеспечив  полную запись?
                        .case__body
                            .case__works
                                .case__work
                                    strong Что делали: 
                                    span дизайн и упаковка услуг, разработка сайта, запуск рекламных кампаний, SEO-продвижение.
                                .case__work
                                    strong Задачи: 
                                    span обеспечить приток пациентов в клинику, достичь высокие показатели конверсии, уменьшить стоимость привлечения клиентов.
                                .case__work
                                    strong Когда работали: 
                                    span 2018 г. — настоящее время
                                .case__work
                                    strong Результаты: 
                                    span конверсия сайта на уровне 4-5%, стоимость привлечения клиента 450-500 руб, обеспечение полной записи медцентра.
                            a(href="").tn-atom.tn-atom--project СМОТРЕТЬ ПОДРОБНЕЕ
                    .case(class="wow fadeInRight" data-wow-delay="0.5s" data-id="b2c") 
                        a(href="").case__header(style="background-image: url(images/medical.jpeg)")
                            .case__name Кейс CMD - медцентр <br>и лаборатория
                            h6.case__title Как запустить медцентр и лабораторию, обеспечив  полную запись?
                        .case__body
                            .case__works
                                .case__work
                                    strong Что делали: 
                                    span дизайн и упаковка услуг, разработка сайта, запуск рекламных кампаний, SEO-продвижение.
                                .case__work
                                    strong Задачи: 
                                    span обеспечить приток пациентов в клинику, достичь высокие показатели конверсии, уменьшить стоимость привлечения клиентов.
                                .case__work
                                    strong Когда работали: 
                                    span 2018 г. — настоящее время
                                .case__work
                                    strong Результаты: 
                                    span конверсия сайта на уровне 4-5%, стоимость привлечения клиента 450-500 руб, обеспечение полной записи медцентра.
                            a(href="").tn-atom.tn-atom--project СМОТРЕТЬ ПОДРОБНЕЕ
                    .case(class="wow fadeInLeft" data-wow-delay="0.8s" data-id="b2b") 
                        a(href="").case__header(style="background-image: url(images/medical.jpeg)")
                            .case__name Кейс CMD - медцентр <br>и лаборатория
                            h6.case__title Как запустить медцентр и лабораторию, обеспечив  полную запись?
                        .case__body
                            .case__works
                                .case__work
                                    strong Что делали: 
                                    span дизайн и упаковка услуг, разработка сайта, запуск рекламных кампаний, SEO-продвижение.
                                .case__work
                                    strong Задачи: 
                                    span обеспечить приток пациентов в клинику, достичь высокие показатели конверсии, уменьшить стоимость привлечения клиентов.
                                .case__work
                                    strong Когда работали: 
                                    span 2018 г. — настоящее время
                                .case__work
                                    strong Результаты: 
                                    span конверсия сайта на уровне 4-5%, стоимость привлечения клиента 450-500 руб, обеспечение полной записи медцентра.
                            a(href="").tn-atom.tn-atom--project СМОТРЕТЬ ПОДРОБНЕЕ
                    .case(class="wow fadeInRight" data-wow-delay="0.8s" data-id="b2b") 
                        a(href="").case__header(style="background-image: url(images/medical.jpeg)")
                            .case__name Кейс CMD - медцентр <br>и лаборатория
                            h6.case__title Как запустить медцентр и лабораторию, обеспечив  полную запись?
                        .case__body
                            .case__works
                                .case__work
                                    strong Что делали: 
                                    span дизайн и упаковка услуг, разработка сайта, запуск рекламных кампаний, SEO-продвижение.
                                .case__work
                                    strong Задачи: 
                                    span обеспечить приток пациентов в клинику, достичь высокие показатели конверсии, уменьшить стоимость привлечения клиентов.
                                .case__work
                                    strong Когда работали: 
                                    span 2018 г. — настоящее время
                                .case__work
                                    strong Результаты: 
                                    span конверсия сайта на уровне 4-5%, стоимость привлечения клиента 450-500 руб, обеспечение полной записи медцентра.
                            a(href="").tn-atom.tn-atom--project СМОТРЕТЬ ПОДРОБНЕЕ
