.cases {
    padding-top: 10px;
    .title {
        padding-bottom: 43px;
        margin-bottom: 45px;
        &:after {
            width: 170px;
        }
    }
}
.tabs-list {
    display: flex;
    justify-content: center;
    margin-bottom: 35px;
}
.tabs-item {
    text-transform: uppercase;
    font-size: 16px;
    padding-bottom: 18px;
    border-bottom: 2px solid #cccccc;
    width: 100%;
    text-align: center;
    cursor: pointer;
    @include small {
        font-size: 14px;
    }
    &--active {
        color: #2c8dbf ;
        border-bottom-color: #2c8dbf ;
    }
}
.cases-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.case {
    max-width: 48%;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0px 0px 40px 0px rgba(44,141,191,0.2);
    margin-bottom: 41px;
    @include small {
        max-width: 100%;
    }
    &__header {
        display: block;
        text-decoration: none;
        min-height: 290px;
        background-position: center;
        background-size: cover;
        padding: 36px 39px;
        background-repeat: no-repeat;
        position: relative;
        &:after {
            content: '';
            position: absolute;
            left: 0;
            width: 100%;
            height: 100%;
            top: 0;
            background-color: rgba(#14143d, 0.7);
        }
        @include small {
            padding: 35px 10px;
            min-height: 190px;
        }
    }
    &__name {
        border: 2px solid #2c8dbf;
        display: inline-block;
        font-size: 18px;
        font-weight: 500;
        line-height: 1.4;
        color: #fff;
        padding: 9px 15px;
        max-width: 260px;
        width: 100%;
        margin-bottom: 25px;
        position: relative;
        z-index: 1;
        @include small {
            font-size: 14px;
            text-align: center;
            margin: 0 auto 25px;
            display: block;
        }
    }
    &__title {
        color: #ffffff;
        font-size: 28px;
        line-height: 1.2;
        font-weight: 700;
        position: relative;
        z-index: 1;
        @include medium {
            font-size: 22px;
        }
        @include small {
            font-size: 18px;
            text-align: center;
            margin-bottom: 0;
        }
    }
    &__body {
        padding: 18px 40px 60px;
        position: relative;
        height: calc(100% - 290px);
        @include small {
            padding: 15px 10px 40px;
            font-size: 15px;
            height: calc(100% - 218px);
        }
        @include large {
            height: calc(100% - 309px);
        }
        .tn-atom--project {
            position: absolute;
            bottom: 25px;
        }
    }
    &__works {
        margin-bottom: 46px;
    }
    &__block {
        width: 100%;
    }
    .tn-atom--project {
        padding: 13px 33px;
        @include small {
            padding: 13px;
            font-size: 14px;
            max-width: 230px;
        }
    }
}