.blog {
    text-decoration: none;
    color: #14143d;
    margin-bottom: 100px;
    @include medium {
        display: flex;
        margin-bottom: 50px;
    }
    @include small {
        flex-direction: column;
    }
    img {
        width: 100%;
        margin-bottom: 15px;
        height: 200px;
        object-fit: cover;
        @include medium {
            max-width: 300px;
            margin-right: 25px;
        }
        @include small {
            margin-bottom: 5px;
        }
    }
    &__title {
        font-weight: 700;
        font-size: 28px;
        line-height: 1.17;  
        margin-bottom: 20px; 
        @include medium {
            font-size: 26px;
        }     
        @include small {
            font-size: 24px;
        }
    }
    p {
        font-size: 18px;
        margin-bottom: 29px;
        @include medium {
            font-size: 16px;
        }
        @include small {
            font-size: 14px;
        }
    }
    &__link {
        color: #ffffff;
        background-color: #2c8dbf;
        border-radius: 30px;
        font-weight: 500;
        text-transform: uppercase;
        padding: 0 30px;
        height: 45px;
        display: inline-flex;
        align-items: center;
        text-decoration: none;
        font-size: 14px;
    }
}
.blog-block {
    .title {
        padding-bottom: 30px;
        margin-bottom: 50px;
        &:after {
            width: 155px;
        }
    }
}
.blog-list {
    @include medium {
        padding: 0 50px;
    }
    @include small {
        padding: 0;
    }
}