mixin blog
    section.blog-block
        .container-fluid
            h1.title Блог об интернет маркетинге
            .blog-list
                .row
                    .col-lg-4
                        .blog
                            img(src="images/12.jpg", alt="")
                            .blog__content
                                .blog__title Играй против рынка – забей на правила
                                p Приходя в новую для себя нишу, мы видим ее не так, как люди, на чьих глазах она росла. Для них все выглядит как должное, а для нас – немного странно.
                                a(href="").blog__link Читать далее
                    .col-lg-4
                        .blog
                            img(src="images/13.jpg", alt="")
                            .blog__content
                                .blog__title Как преуспеть в социальных сетях
                                p Сегодня речь пойдет о социальных сетях. <br>Посредственность – основное слово, которым я могу описать 99 % происходящего в социальных сетях
                                a(href="").blog__link Читать далее
                    .col-lg-4
                        .blog
                            img(src="images/14.jpg", alt="")
                            .blog__content
                                .blog__title «Упакуйся» или уйди с рынка! Почему это так важно?
                                p В глазах вашего потенциального клиента вы такой же, как другие; вы ничем не отличаетесь от своих конкурентов. И это плохо.
                                a(href="").blog__link Читать далее
                    .col-lg-4
                        .blog
                            img(src="images/12.jpg", alt="")
                            .blog__content
                                .blog__title Играй против рынка – забей на правила
                                p Приходя в новую для себя нишу, мы видим ее не так, как люди, на чьих глазах она росла. Для них все выглядит как должное, а для нас – немного странно.
                                a(href="").blog__link Читать далее
                    .col-lg-4
                        .blog
                            img(src="images/12.jpg", alt="")
                            .blog__content
                                .blog__title Играй против рынка – забей на правила
                                p Приходя в новую для себя нишу, мы видим ее не так, как люди, на чьих глазах она росла. Для них все выглядит как должное, а для нас – немного странно.
                                a(href="").blog__link Читать далее
                    .col-lg-4
                        .blog
                            img(src="images/12.jpg", alt="")
                            .blog__content
                                .blog__title Играй против рынка – забей на правила
                                p Приходя в новую для себя нишу, мы видим ее не так, как люди, на чьих глазах она росла. Для них все выглядит как должное, а для нас – немного странно.
                                a(href="").blog__link Читать далее