.what-do-index {
    padding-bottom: 95px;
}
.what-me-list {
    padding-top: 21px;
    @include medium {
        padding: 21px 50px;
    }
    @include small {
        padding: 0 0;
    }
}
.what-me {
    font-size: 14px;
    line-height: 1.55;
    border-width: 4px;
    border-radius: 0px;
    background-color: #ffffff;
    border-color: #ffffff;
    border-style: solid;
    transition: all 0.2s ease-in-out;
    box-shadow: 0px 0px 45px 0px rgba(44,141,191,0.1);
    margin-bottom: 20px;
    width: 100%;
    height: 385px;
    padding: 46px 15px 0;
    text-align: center;
    overflow: hidden;
    @include medium {
        padding: 32px 30px 24px;
        height: auto;
        margin-bottom: 33px;
    }
    @include small {
        padding: 26px 0 20px;
    }
    p {
        font-size: 16px;
        min-height: 116px;
        margin-bottom: 10px;    
        @include medium {
            min-height: auto;
            margin-bottom: 15px;
        }    
        @include small {
            margin-bottom: 13px;
            line-height: 1.45;
        }
    }
}
.what-me__icon {
    max-width: 70px;
    margin: 0 auto 14px;
    img {
        max-width: 100%;
    }
    @include medium {
        max-width: 60px;
    }
    @include small {
        max-width: 50px;
    }
}
.what-me__title {
    font-size: 24px;
    line-height: 1.4;
    font-weight: 700;
    margin-bottom: 14px;
    @include small {
        font-size: 20px;
        margin-bottom: 10px;
    }
}
.what-me__price {
    font-size: 20px;
    font-weight: 700;
    @include small {
        font-size: 18px;
    }
}