mixin what-do-index
    section.what-do-index
        .container-fluid
            h3.title Что делаем?
            .t-desc Мы приводим вам клиентов из поисковиков и социальных сетей
            .what-me-list.row
                .col-lg-4.col-md-12
                    .what-me
                        .what-me__icon(class="wow fadeInUp" data-wow-delay="0.2s")
                            img(src="images/icon_3.svg", alt="")
                        .what-me__title(class="wow fadeInUp" data-wow-delay="0.2s") Контекстная реклама
                        p(class="wow fadeInUp" data-wow-delay="0.2s") Ваши услуги и товары ищут прямо сейчас. Уже на следующий день после запуска рекламы вы начнете получать клиентов.
                        .what-me__price(class="wow fadeInUp" data-wow-delay="0.2s") от 30 000 руб/мес
                .col-lg-4.col-md-12
                    .what-me
                        .what-me__icon(class="wow fadeInUp" data-wow-delay="0.2s")
                            img(src="images/icon_2.svg", alt="")
                        .what-me__title(class="wow fadeInUp" data-wow-delay="0.2s") SEO
                        p(class="wow fadeInUp" data-wow-delay="0.2s") Получать множество клиентов из Яндекса и Гугл и не платить за каждый клик. Самые эффективные и быстрые методики продвижения.
                        .what-me__price(class="wow fadeInUp" data-wow-delay="0.2s") от 45 000 руб/мес
                .col-lg-4.col-md-12
                    .what-me
                        .what-me__icon(class="wow fadeInUp" data-wow-delay="0.2s")
                            img(src="images/icon_1.svg", alt="")
                        .what-me__title(class="wow fadeInUp" data-wow-delay="0.2s") SMM
                        p(class="wow fadeInUp" data-wow-delay="0.2s") Вы начнете дружить с вашими клиентами в социальных сетях. Рассказывать о себе и влюблять в свой продукт. Как итог, увеличение продаж.
                        .what-me__price(class="wow fadeInUp" data-wow-delay="0.2s") от 40 000 руб/мес
                .mb-4.col-12
                .col-12.d-flex.justify-content-center
                    a(href="").tn-atom Подробнее