mixin command
    section.command
        .container-fluid
            h3.title Наша команда
            .command-list.row
                .col-lg-3.col-md-6
                    .member
                        .member__face
                            picture
                                source(type="image/webp" srcset="images/webp/face/01.webp")
                                source(type="image/jpeg" srcset="images/face/01.jpg")               
                                img(src="images/face/01.jpg", alt="")
                        .member__name Дмитрий Маслов
                        .member__position Руководитель
                        .member__text Разработка стратегий, управление проектами, комплексная аналитика
                .col-lg-3.col-md-6
                    .member
                        .member__face
                            picture
                                source(type="image/webp" srcset="images/webp/face/02.webp")
                                source(type="image/jpeg" srcset="images/face/02.jpg")               
                                img(src="images/face/02.jpg", alt="")
                        .member__name Георгий Мотренко
                        .member__position SMM-специалист
                        .member__text Таргетинговая реклама и ведение соцсетей
                .col-lg-3.col-md-6
                    .member
                        .member__face
                            picture
                                source(type="image/webp" srcset="images/webp/face/03.webp")
                                source(type="image/jpeg" srcset="images/face/03.jpg")               
                                img(src="images/face/03.jpg", alt="")
                        .member__name Валерия
                        .member__position Контекстная реклама
                        .member__text Ведение рекламных кампаний, аудит контекста, аналитика
                .col-lg-3.col-md-6
                    .member
                        .member__face
                            picture
                                source(type="image/webp" srcset="images/webp/face/04.webp")
                                source(type="image/jpeg" srcset="images/face/04.jpg")               
                                img(src="images/face/04.jpg", alt="")
                        .member__name Бибигуль Омарова
                        .member__position Веб-дизайнер
                        .member__text Проектирование и дизайн сайтов
                .mb-4.col-12
                .col-12.d-flex.justify-content-center
                    a(href="").tn-atom Подробнее                        
            .reason-list
                .reason(class="wow fadeInLeft" data-wow-delay="0.5s") 
                    .reason__img
                        img(src="images/exit.png", alt="")
                    .reason__desc   
                        .reason__title Обычная практика других компаний:
                        ul.reason__list
                            li Присылать вам сложные брифы;
                            li Говорить непонятными словами;
                            li Не укладываться в сроки;
                            li Делать свою работу поверхностно;
                .reason(class="wow fadeInRight" data-wow-delay="0.5s") 
                    .reason__img
                        img(src="images/chek.png", alt="")
                    .reason__desc   
                        .reason__title 4 причины выбрать именно нас:
                        ul.reason__list.reason__list--green
                            li Мы сами заполняем все брифы;
                            li Все термины объясняем простым языком;
                            li Сдаем вовремя каждый этап проекта;
                            li Мы погрузимся в ваш бизнес и продукт, изучим ваших клиентов;