.command {
    margin-bottom: 50px;
    @include medium {
        margin-bottom: 50px;
    }
}
.command-list {

    margin: 0 20px 50px;
    padding-top: 28px;

}
.member {
    max-width: 220px;
    text-align: center;
    margin: 0 auto 22px;
    &__face {
        margin: 0 auto 22px;
        width: 200px;
        height: 200px;
        img {
            max-width: 100%;
            border-radius: 50%;
        }
    }
    &__name {
        font-weight: 700;
        font-size: 20px;
        margin-bottom: 3px;
    }
    &__position {
        font-weight: 500;
        font-size: 16px;
        margin-bottom: 18px;
    }
    &__text {
        font-size: 14px;
    }
}
.reason-list {
    display: flex;
    justify-content: space-between;
    @include medium {
        flex-direction: column;
        max-width: 620px;
        margin: 0 auto;
    }
}
.reason {
    box-shadow: 0px 0px 45px 0px rgba(44,141,191,0.1);
    max-width: 565px;
    width: 100%;
    height: 330px;
    background-color: #ffffff;
    position: relative;
    display: flex;
    padding: 40px 10px 40px 0px;
    align-items: flex-start;
    @include medium {
        max-width: none;
        margin-bottom: 40px;
    }
    @include small {
        padding: 48px 25px 16px;
        height: auto;
        margin-bottom: 30px;
    }
    &:before {
        content: '';
        width: 50px;
        height: 62px;
        position: absolute;
        top: -12px;
        left: 20px;
        background-image: url(../images/clip.png);
        @include small {
            width: 40px;
            height: 50px;
            z-index: 2;
            background-size: cover;
            left: 10px;
        }
    }
    &__img {
        max-width: 115px;
        margin-right: 24px;
        margin-top: 45px;
        @include small {
            position: absolute;
            width: 50px;
            top: 18px;
            z-index: 1;
            margin: 0;
            left: 0;
        }
        img {
            max-width: 100%;
        }
    }
    &__title {
        font-size: 24px;
        font-weight: 700;
        line-height: 1.3;
        margin-bottom: 20px;
        @include small {
            font-size: 20px;
            text-align: center;
            position: relative;
            z-index: 2;
        }
    }
    &__list {
        list-style: none;
        padding: 0;
        margin: 0;
        font-size: 18px;
        line-height: 1.3;
        position: relative;
        @include small {
            text-align: center;
            font-size: 16px;
        }
        li {
            padding-left: 20px;
            position: relative;
            margin-bottom: 17px;
            &:before {
                content: '';
                width: 10px;
                height: 10px;
                position: absolute;
                left: 0;
                top: 6px;
                background-color: #b5b5b5;
                border-radius: 50%;
                @include small {
                    display: none;
                }
            }
        }
        &--green {
            li {
                &::before {
                    background-color: #26cc73;
                }
            }
        }        
    }
}