extends layout/main.pug

include ../blocks/head/head.pug
include ../blocks/header/header.pug
include ../blocks/footer/footer.pug
include ../blocks/cases/cases.pug
include ../blocks/blog/blog.pug


block title
    +head('Кейсы')
block pagecontent
    +header
    section.block-page
        .container-fluid
            .row
                .offset-md-1.col-md-10
                    h1.title Играй против рынка – забей на правила
                    .block-page__img
                        img(src="images/12.jpg", alt="")
                    p Приходя в новую для себя нишу, мы видим ее не так, как люди, на чьих глазах она росла. Для них все выглядит как должное, а для нас – немного странно.
                    p Старожилы говорят нам: «Да вы ничего не знаете, я уже 10 лет на этом рынке!». Их незаинтересованный взгляд начинает меняться, когда они видят результаты нестандартных действий. Они удивляются, как это сработало, и, в конце концов, укоряют себя за то, что это придумали не они.
                    p Но все очень просто: 
                        strong надо играть против рынка. 
                        | Здесь все используют одинаковые методы и подходы, глядя друг на друга; у них замыливается глаз, а в сознании вырастают рамки. Все начинают толкаться в одном «коридоре»: продуктовые решения, реклама, общение с клиентами, сервис и т.д. И, естественно, маркетинг тоже у всех одинаков: одни и те же каналы привлечения клиентов, форматы рекламы, предложения, скидки. Порой конкуренты отличаются только названиями и цветами бренда, а все новое встречается ими с недоверием.
                    p Сделать что-то новое – значит пойти вперед, пойти в атаку на конкурентов, сомневающихся клиентов и нишу в целом. Вероятность выиграть тут гораздо выше, чем проиграть, потому как вернуться в прежнее русло можно всегда, а стать полноводной рекой – нет.
                    p Как показывает опыт, самый рабочий способ – это посмотреть, как работает маркетинг у основной части конкурентов, и сделать наоборот. Клиент приобрел «слепоту» от пресной, одинаковой рекламы, и даже разговор с тещей о политике покажется ему более интересным, чем реклама от 80 % участников рынка.
                    p И тут не надо бояться экспериментировать. Если ваши конкуренты пишут в контекстной и таргетированной рекламе: «Приходите к нам, у нас скидки», можете смело писать: «Не приходите к нам, скидок не дадим». Пробегая взглядом по сотням рекламных объявлений, которые, как чайки из мультика «В поисках Немо», кричат: «Дай!», потребитель видит что-то иное и сразу фокусируется на том, что выделяется из общей массы, что ему непонятно, что он хочет для себя объяснить. И вот клиент уже готов слушать. А наша задача как раз – выкроить внимание, иметь возможность сказать слово. Если вслед за этим идет нестандартное предложение, у клиента возникает к нему неподдельный интерес.
                    p А мы продолжаем подкидывать дров: аргументируем наше предложение, сравниваем себя с конкурентами, ведем откровенный диалог – и все это происходит в режиме онлайн: на сайте, в соцсетях, в догоняющей рекламе, в email-письмах, мессенджерах… Клиент закручивается в нашей воронке продаж, и мы «закрываем» его. Мы делаем результат.
                    a(href="").read_also
                        strong Читайте также:
                        span «Упакуйся» или уйди с рынка! Почему это так важно?
    script(src="js/libs.min.js")
    script(src="js/script.js")