extends layout/main.pug

include ../blocks/head/head.pug
include ../blocks/header/header.pug
include ../blocks/footer/footer.pug
include ../blocks/cases/cases.pug


block title
    +head('Кейсы')
block pagecontent
    +header
    +cases
    +footer