extends layout/main.pug

include ../blocks/head/head.pug
include ../blocks/header/header.pug
include ../blocks/footer/footer.pug
include ../blocks/block-index/block-index.pug
include ../blocks/what-do-index/what-do-index.pug
include ../blocks/index-project/index-project.pug
include ../blocks/client-slider/client-slider.pug
include ../blocks/me-jobs/me-jobs.pug
include ../blocks/command/command.pug

block title
    +head('Главная страница')
block pagecontent
    +block-index
    +what-do-index
    +index-project
    +client-slider

    section.forms
        .container-fluid
            h3.b-title Оставьте заявку на расчет вашего проекта и получение коммерческого предложения
            .form-flex
                .forms__img(class="wow bounceInLeft" data-wow-delay="0.5s")                   
                    picture
                        source(type="image/webp" srcset="images/webp/dashboard.webp")
                        source(type="image/png" srcset="images/dashboard.png")
                        img(src="images/dashboard.png", alt="")
                .forms__right(class="wow bounceInRight" data-wow-delay="0.5s") 
                    form(action="file").b-form
                        input(type="text"  placeholder="Ваше имя").b-form__input
                        input(type="tel"  placeholder="Номер телефона").b-form__input
                        input(type="email"  placeholder="E-mail").b-form__input
                        button.b-form__button НАЗНАЧИТЬ ВСТРЕЧУ
                    .politic Нажимая на кнопку, вы даете согласие на обработку персональных данных и соглашаетесь c 
                        a(href="") Политикой Конфиденциальности    
    +me-jobs
    +command
    section.forms
        .container-fluid
            h3.b-title Оставьте заявку, мы приедем и ответим на возникшие вопросы лично
            .form-flex
                .forms__img(class="wow bounceInLeft" data-wow-delay="0.5s")                   
                    picture
                        source(type="image/webp" srcset="images/webp/map.webp")
                        source(type="image/png" srcset="images/map.png")
                        img(src="images/map.png", alt="")
                .forms__right(class="wow bounceInRight" data-wow-delay="0.5s") 
                    form(action="file").b-form
                        input(type="text"  placeholder="Ваше имя").b-form__input
                        input(type="tel"  placeholder="Номер телефона").b-form__input
                        input(type="email"  placeholder="E-mail").b-form__input
                        button.b-form__button НАЗНАЧИТЬ ВСТРЕЧУ
                    .politic Нажимая на кнопку, вы даете согласие на обработку персональных данных и соглашаетесь c 
                        a(href="") Политикой Конфиденциальности
  
    +footer