extends layout/main.pug

include ../blocks/head/head.pug
include ../blocks/header/header.pug
include ../blocks/footer/footer.pug
include ../blocks/block-index/block-index.pug
include ../blocks/what-do-index/what-do-index.pug
include ../blocks/index-project/index-project.pug
include ../blocks/client-slider/client-slider.pug
include ../blocks/me-jobs/me-jobs.pug
include ../blocks/command/command.pug

block title
    +head('Услуги')
block pagecontent
    +header
    +what-do-index
    section.case-content
        .container-fluid
            .row
                .offset-md-1.col-md-10
                    div(class="wow fadeInLeft mb-5" data-wow-delay="0.8s")
                        h6.case-subtitle Упаковка и фирменный стиль
                        p Упаковка и фирменный стильИсходя из анализа аудитории, мы решили, что основой нашего сайта будут ответы на вопросы наших будущих пациентов. Мы не будем давать справочную информацию, только смыслы. Наша задача ответить на все вопросы пациента, построить с ним диалог. Показать, что мы знаем о его сомнениях. Его реакция должна быть такая: "Тут есть все, что меня интересовало. Это то, что мне надо!"
                        p Для фирменного стиля было решено выбрать основные цвета бренда. Акцент сделали на смыслах. Задача дизайна: провести пользователя по заранее спланированному сценарию и разобрать его вопросы и проблему выбора.
                        p Мы собрали набор конкурентных преимуществ, выбирая подходящие для запросов и услуг.
                        .link-client Ссылка на сайт 
                            a(href="") CMD Чехов
                    div(class="wow fadeInLeft mb-5" data-wow-delay="0.8s")
                        h6.case-subtitle Упаковка и фирменный стиль
                        p Упаковка и фирменный стильИсходя из анализа аудитории, мы решили, что основой нашего сайта будут ответы на вопросы наших будущих пациентов. Мы не будем давать справочную информацию, только смыслы. Наша задача ответить на все вопросы пациента, построить с ним диалог. Показать, что мы знаем о его сомнениях. Его реакция должна быть такая: "Тут есть все, что меня интересовало. Это то, что мне надо!"
                        p Для фирменного стиля было решено выбрать основные цвета бренда. Акцент сделали на смыслах. Задача дизайна: провести пользователя по заранее спланированному сценарию и разобрать его вопросы и проблему выбора.
                        p Мы собрали набор конкурентных преимуществ, выбирая подходящие для запросов и услуг.
                        .link-client Ссылка на сайт 
                            a(href="") CMD Чехов
                    div(class="wow fadeInLeft mb-5" data-wow-delay="0.8s")
                        h6.case-subtitle Упаковка и фирменный стиль
                        p Упаковка и фирменный стильИсходя из анализа аудитории, мы решили, что основой нашего сайта будут ответы на вопросы наших будущих пациентов. Мы не будем давать справочную информацию, только смыслы. Наша задача ответить на все вопросы пациента, построить с ним диалог. Показать, что мы знаем о его сомнениях. Его реакция должна быть такая: "Тут есть все, что меня интересовало. Это то, что мне надо!"
                        p Для фирменного стиля было решено выбрать основные цвета бренда. Акцент сделали на смыслах. Задача дизайна: провести пользователя по заранее спланированному сценарию и разобрать его вопросы и проблему выбора.
                        p Мы собрали набор конкурентных преимуществ, выбирая подходящие для запросов и услуг.
                        .link-client Ссылка на сайт 
                            a(href="") CMD Чехов
    +footer