extends layout/main.pug

include ../blocks/head/head.pug
include ../blocks/header/header.pug
include ../blocks/footer/footer.pug
include ../blocks/command/command.pug
include ../blocks/command_desc/command_desc.pug

block title
    +head('Команда')
block pagecontent
    +header
    section.command
        .container-fluid
            h1.title Наша команда
            .row
                .col-lg-3.col-md-6
                    .member
                        .member__face
                            picture
                                source(type="image/webp" srcset="images/webp/face/01.webp")
                                source(type="image/jpeg" srcset="images/face/01.jpg")               
                                img(src="images/face/01.jpg", alt="")
                        .member__name Дмитрий Маслов
                        .member__position Руководитель
                        .member__text Разработка стратегий, управление проектами, комплексная аналитика
                .col-lg-3.col-md-6
                    .member
                        .member__face
                            picture
                                source(type="image/webp" srcset="images/webp/face/02.webp")
                                source(type="image/jpeg" srcset="images/face/02.jpg")               
                                img(src="images/face/02.jpg", alt="")
                        .member__name Георгий Мотренко
                        .member__position SMM-специалист
                        .member__text Таргетинговая реклама и ведение соцсетей
                .col-lg-3.col-md-6
                    .member
                        .member__face
                            picture
                                source(type="image/webp" srcset="images/webp/face/03.webp")
                                source(type="image/jpeg" srcset="images/face/03.jpg")               
                                img(src="images/face/03.jpg", alt="")
                        .member__name Валерия
                        .member__position Контекстная реклама
                        .member__text Ведение рекламных кампаний, аудит контекста, аналитика
                .col-lg-3.col-md-6
                    .member
                        .member__face
                            picture
                                source(type="image/webp" srcset="images/webp/face/04.webp")
                                source(type="image/jpeg" srcset="images/face/04.jpg")               
                                img(src="images/face/04.jpg", alt="")
                        .member__name Бибигуль Омарова
                        .member__position Веб-дизайнер
                        .member__text Проектирование и дизайн сайтов
                .col-lg-3.col-md-6
                    .member
                        .member__face
                            picture
                                source(type="image/webp" srcset="images/webp/face/04.webp")
                                source(type="image/jpeg" srcset="images/face/04.jpg")               
                                img(src="images/face/04.jpg", alt="")
                        .member__name Бибигуль Омарова
                        .member__position Веб-дизайнер
                        .member__text Проектирование и дизайн сайтов
                .col-lg-3.col-md-6
                    .member
                        .member__face
                            picture
                                source(type="image/webp" srcset="images/webp/face/04.webp")
                                source(type="image/jpeg" srcset="images/face/04.jpg")               
                                img(src="images/face/04.jpg", alt="")
                        .member__name Бибигуль Омарова
                        .member__position Веб-дизайнер
                        .member__text Проектирование и дизайн сайтов
                .col-lg-3.col-md-6
                    .member
                        .member__face
                            picture
                                source(type="image/webp" srcset="images/webp/face/04.webp")
                                source(type="image/jpeg" srcset="images/face/04.jpg")               
                                img(src="images/face/04.jpg", alt="")
                        .member__name Бибигуль Омарова
                        .member__position Веб-дизайнер
                        .member__text Проектирование и дизайн сайтов                                                                        
    +command_desc
    +footer