mixin command_desc
    section.command_desc.mb-5
        .container-fluid
            h2.title Описание команды
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi voluptate voluptas eius laudantium eveniet repellat corporis rerum doloremque nemo dolorem debitis incidunt, dolores inventore. Debitis quam et provident cum soluta.Iusto magnam harum, enim tenetur ratione expedita autem et sed sint voluptatibus? Quo voluptatibus a maxime deleniti unde. A iusto dolor officia, rem sequi excepturi earum impedit recusandae dolorem dignissimos!Similique commodi deserunt architecto obcaecati tempore natus modi at sit pariatur, cupiditate ipsum consectetur rerum sunt tenetur accusamus et, nobis voluptates beatae! Unde, odit aspernatur iusto quas ipsum rem adipisci!Quod voluptatibus in perspiciatis voluptatem exercitationem nostrum culpa perferendis necessitatibus repudiandae odit dolorum dignissimos ad fugit dicta, corrupti nisi molestias, laborum qui inventore officia eligendi. Et in iure qui accusantium.Libero eius ipsum pariatur repudiandae nam magni odit! Cupiditate est vitae animi ipsum, suscipit corrupti reprehenderit accusantium officia magnam voluptate nisi veritatis ea cum nemo magni totam molestias quas ab.Tempora odit, doloremque laudantium veritatis voluptates porro officia reprehenderit repellat, voluptatem minus tempore soluta dolor sint, autem quam illo eligendi vel praesentium blanditiis quisquam itaque ab. Rerum omnis expedita porro.Est error incidunt veritatis vel placeat aliquam excepturi cupiditate quam sit earum magnam laborum, possimus recusandae nostrum, cumque non nobis obcaecati praesentium voluptatem. Deserunt non minus quibusdam odit qui ex?Labore harum officiis natus ab voluptatum vel veniam ut laudantium esse veritatis? Aliquid cum sequi explicabo iste nisi libero cupiditate itaque ipsa sint vel laborum, expedita rerum delectus asperiores nihil!Quis nihil minus nam illum impedit enim deleniti aspernatur vero repellat quidem quam aliquid, quos omnis voluptatibus adipisci harum ipsam sed blanditiis. Veritatis ipsum libero tempore voluptatum. Unde, a velit?Facere, veniam sint ratione dolorum animi, quod quas cupiditate maiores, eaque rem quo reprehenderit repudiandae consectetur harum. Quisquam expedita quas at, dolor quos nam accusamus quia amet nostrum unde deserunt.