mixin forms(title, srcimg)
    .forms
        .container-fluid
            .b-title= title
            .form-flex
                .forms__img(class="wow bounceInLeft" data-wow-delay="0.5s") 
                    img(src=images+".png", alt="")
                    picture
                        source(type="image/webp" srcset=srcimg"/webp/map.webp")
                        source(type="image/png" srcset=srcimg".png")
                        img(src=srcimg".png", alt="")                      
                .forms__right(class="wow bounceInRight" data-wow-delay="0.5s") 
                    form(action="").b-form
                        input(type="text"  placeholder="Ваше имя").b-form__input
                        input(type="tel"  placeholder="Номер телефона").b-form__input
                        input(type="email"  placeholder="E-mail").b-form__input
                        button.b-form__button Получить просчет проекта и КП
                    .politic Нажимая на кнопку, вы даете согласие на обработку персональных данных и соглашаетесь c 
                        a(href="") Политикой Конфиденциальности