.forms {
    background-color: #09092b;
    padding: 120px 0;
    margin-bottom: 75px;
    @include small {
        padding: 50px 0;
    }
}
.b-title {
    color: #ffffff;
    max-width: 660px;
    margin: 0 auto 39px;
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    line-height: 1.4;
    position: relative;
    &:after {
        content: '';
        width: 60px;
        height: 86px;
        position: absolute;
        right: -39px;
        bottom: -39px;
        background-image: url(../images/arr.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        @include medium {
            display: none;
        }
    }
    @include small {
        font-size: 20px;
    }
}
.form-flex {
    display: flex;
    @include medium {
        flex-direction: column;
    }
}
.forms__img {
    max-width: 560px;
    width: 100%;
    img {
        max-width: 100%;
    }
    @include large {
        max-width: 460px;
    }
    @include medium {
        max-width: none;
        text-align: center;
        margin-bottom: 50px;
    }
}
.forms__right {
    max-width: 460px;
    margin-left: auto;
    width: 100%;
    @include medium {
        max-width: 600px;
        margin: 0 auto;
    }
}
.b-form {
    &__input {
        height: 60px;
        display: block;
        width: 100%;
        background-color: transparent;
        border: 0;
        outline: none;
        border-bottom: 1px solid #ffffff;
        color: #ffffff;
        margin-bottom: 30px;
    }
    &__button {
        color: #ffffff;
        background-color: #26cc73;
        border-radius: 30px;
        font-weight: 500;
        text-transform: uppercase;
        border: 0;
        outline: none;
        line-height: 3.7;
        margin-bottom: 20px;
        padding: 0 60px;
        @include small {
            margin: 0 auto 20px;
            max-width: 280px;
            width: 100%;
            padding: 0 15px;
        }
    }
}
.politic {
    color: #dbdbdb;
    font-size: 15px;
    line-height: 1.55;
    @include small {
        font-size: 12px;
    }
    a {
        color: #ffffff;
        text-decoration: none;
        border-bottom: 1px solid #ffffff;
    }
}