.p-404 {
    min-height: 300px;
    height: 100vh;
    background-color: rgba(#09092b, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    p {
        color: #ffffff;
        font-size: 26px;
        margin-bottom: 40px;
        @include medium {
            font-size: 22px;
        }
    }
    .btn {

    }
}
.p-404-h1 {
    color: #ffffff;
    font-size: 100px;
    font-family: 'Montserrat',Arial,sans-serif;
    line-height: 0.95;
    font-weight: 700;
    opacity: 0.4;
    background-position: center center;
    text-align: center;
    @include medium {
        font-size: 60px;
    }
}
.tn-atom-desc {
    color: #ffffff;
    font-size: 42px;
    font-family: 'Montserrat',Arial,sans-serif;
    line-height: 0.95;
    font-weight: 300;
    opacity: 0.4;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
    @include medium {
        font-size: 30px;
    }
}