mixin 404
    .p-404
        .p-404-main
            .p-404-h1 404
            .tn-atom-desc ошибка
            p
                strong Запрашиваемая Вами страница не найдена :(
            a(href="").tn-atom ВЕРНУТЬСЯ НА ГЛАВНУЮ
