mixin conctacts
    section.conctacts   
        .container-fluid
            h1.title Контакты
            .row(itemscope itemtype="https://schema.org/Organization")
                .col-lg-6 
                    .conctacts__map
                        .map 
                            <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Ab2fea60b31196054f47fb45115113668e9243b10b7333676d765906c10faffc1&amp;source=constructor"  frameborder="0"></iframe>


                .col-lg-6
                    .conctacts__desc(itemprop="address" itemscope itemtype="https://schema.org/PostalAddress")
                        .mb-4
                            strong Адрес: 
                            span(itemprop="addressLocality") г. Москва,  
                            span(itemprop="streetAddress") ул. Южнопортовая, 5c7
                        .mb-4
                            strong Как связаться:
                            span 
                                a(href="tel:+74996477892" itemprop="telephone") +7 (499) 647-78-92 
                                | , 
                                a(href="mailto:customers@web-beri.ru" itemprop="email") customers@web-beri.ru

                        .mb-4
                            strong Часы работы: 
                            span 08:00 - 20:00
                        .mb-4
                            strong Реквизиты: 
                            span ИП Маслов Дмитрий Валерьевич ОГРНИП 314503420200018
                        .d-none
                            span(itemprop="description") Агентство по рекламе, маркетингу и продвижению в интернете
