.header {
    margin-bottom: 50px;
    @include large {
        margin-bottom: 8px;
    }
    @include medium {
        position: relative;
        z-index: 10;
    }
    &-container {
        display: flex;
        align-items: center;
        padding-top: 1px;
        justify-content: space-between;
        @include medium {
            display: none;
            padding-top: 39px;
            background-color: #fff;
            margin: 0 -25px;
            width: calc(100% + 50px);
            padding-bottom: 20px;
        }
        @include small {
            margin: 0 -15px;
            width: calc(100% + 30px);
        }
        &--active {
            @include medium {
                display: flex;
                flex-direction: column;
            }
        }
    }
}
.logo {
    max-width: 160px;
    display: block;
    background-image: url(../images/logo.svg);
    height: 73px;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    img {
        width: 100%;
    }
    @include medium {
        margin: 0 0 71px;
    }
}
.menu {
    display: flex;
    flex-wrap: wrap;
    @include medium {
        flex-direction: column;
        justify-content: center;
        width: 100%;
        align-items: center;
        margin-bottom: 37px;
    }
    &__link {
        margin: 0 15px 0;
        color: #14143d;
        font-size: 16px;
        transition: all 0.3s ease-in-out;
        text-decoration: none;
        @include medium {
            margin: 0 0 15px;
        }
        &:hover {
            color: #2c8dbf;
        }
        &--active {
            color: #2c8dbf;
        }
    }
    &--footer {
        .menu__link {
            font-weight: 500;
        }
    }
}
.h-phone {
    font-size: 20px;
    width: 230px;
    color: #000;
    text-decoration: none;
    text-align: right;
    @include medium {
        text-align: center;
    }
}
.menu_open {
    display: none;
    @include medium {
        display: flex;
        justify-content: space-between;
        margin: 0 -25px;
        width: calc(100% + 50px);
        padding: 20px;
        position: relative;
        background-color: #111;
        color: #fff;
    }
    @include small {
        padding: 20px 25px;
        width: 100%;
        margin: 0 -15px;
        width: calc(100% + 30px);
    }
    &__text {
        font-weight: 700;
        font-size: 18px;
    }
    &__button {
        border: 0;
        background-color: transparent;
        outline: none;
        position: relative;
        width: 40px;
        &:focus {
            outline: 0;
        }
        span {
            display: block;
            width: 28px;
            height: 3px;
            background-color: #fff;
            margin: 4px 0;
            transition: all 0.3s;
            position: absolute;
            &:nth-child(1) {
                top: 0;
            }
            &:nth-child(2) {
                top: 8px;
            }
            &:nth-child(3) {
                top: 16px;
            }            
        }
        &--active {
            span {
                &:nth-child(1) {
                    transform: rotate(-45deg);
                    top: 8px;
                }
                &:nth-child(2) {
                    opacity: 0;
                }
                &:nth-child(3) {
                    transform: rotate(45deg);
                    top: 8px;
                }
            }
        }
    }
}