mixin header()
    header.header
        .container-fluid
            .menu_open 
                .menu_open__text Меню
                button.menu_open__button
                    span
                    span
                    span

            .header-container
                a(href="").logo
                nav.menu
                    a(href="").menu__link Что делаем
                    a(href="").menu__link Портфолио
                    a(href="").menu__link Как работаем
                    a(href="").menu__link Команда
                    a(href="").menu__link Блог
                a(href="tel:+74996477892").h-phone +7 (499) 647-78-92