mixin me-jobs
    section.me-jobs
        .container-fluid   
            h3.title Как мы работаем
            .step-list
                .step-job(class="wow fadeInUp" data-wow-delay="0.2s") 
                    .step-job__images   
                        img(src="images/1.svg", alt="")
                    .step-job__desc
                        .step-job__name Слушаем
                        .step-job__text Мы задаем вопросы, слушаем вас и понимаем ваши задачи.
                .step-job(class="wow fadeInUp" data-wow-delay="0.4s") 
                    .step-job__images   
                        img(src="images/2.svg", alt="")
                    .step-job__desc
                        .step-job__name Анализируем
                        .step-job__text Анализируем продукт, целевую аудиторию и ваших конкурентов.
                .step-job(class="wow fadeInUp" data-wow-delay="0.6s") 
                    .step-job__images   
                        img(src="images/3.svg", alt="")
                    .step-job__desc
                        .step-job__name Контролируем
                        .step-job__text Мы контролируем рекламные кампании по 78 пунктам в CRM-системе собственной разработки.
                .step-job(class="wow fadeInUp" data-wow-delay="0.8s") 
                    .step-job__images   
                        img(src="images/4.svg", alt="")
                    .step-job__desc
                        .step-job__name Отчитываемся
                        .step-job__text Мы ежемесячно предоставляем понятные отчеты с подробной аналитикой рекламных кампаний и описанием всех работ по проекту.
                .step-job(class="wow fadeInUp" data-wow-delay="1.0s") 
                    .step-job__images   
                        img(src="images/5.svg", alt="")
                    .step-job__desc
                        .step-job__name Успеваем
                        .step-job__text Мы прописываем сроки работ в договоре и своевременно их исполняем
                .step-job(class="wow fadeInUp" data-wow-delay="1.2s") 
                    .step-job__images   
                        img(src="images/6.svg", alt="")
                    .step-job__desc
                        .step-job__name Вы в тренде
                        .step-job__text Вы всегда в курсе всех новостей в области интернет маркетинга: последние тренды, новые рекламные инструменты и рабочие методики.