.me-jobs {
    padding: 45px 0 120px;
}
.step-job {
    display: flex;
    margin-bottom: 45px;
    &:last-child {
        margin-bottom: 0;
    }
    &__images {
        width: 65px;
        margin-right: 30px;
        img {
            max-width: 100%;
        }
    }
    &__name {
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 11px;
    }
    &__desc {
        max-width: 465px;
    }
}
.step-list {
    max-width: 560px;
    margin: 0 auto;
    padding: 28px 0 0;
}