mixin head(page_title)
    head
        meta(charset='UTF-8')
        meta(name='msapplication-TileColor', content='#da532c')
        meta(name='viewport', content="width=device-width, initial-scale=1")
        meta(name='theme-color', content='#ffffff')
        meta(name="description", content="Описание")
        link(rel="apple-touch-icon" href="images/favicon.ico")
        link(rel="shortcut icon" href="images/favicon.ico" type="image/x-icon")
        title #{page_title}
        link(rel='stylesheet', href='style/libs.min.css')
        link(rel='stylesheet', href='style/main.css')



