.footer {
    margin-bottom: 80px;
}
.footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
    @include medium {
        flex-direction: column;
    }
}
.h-phone--strong {
    font-weight: 700;
    font-size: 20px;
}
.footer-info {
    display: flex;
    justify-content: space-between;
    @include medium {
        margin: 0 50px;
    }
    @include small {
        margin: 0;
        flex-direction: column-reverse;
    }
}
.company-info {
    line-height: 1.7;
    font-size: 12px;
    opacity: 0.7;
    @include small {
        text-align: center;
    }
}
.footer-email {
    font-size: 18px;
    font-weight: 500;
    color: #2c8dbf;
    text-decoration: none;
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 30px;
    line-height: 30px;
    background-image: url(../images/envel.svg);
    padding-left: 38px;
    display: block;
    margin-bottom: 10px;
    @include small {
        font-size: 14px;
        background-size: 26px;
        display: inline-block;
    }
}
.f-i-right {
    text-align: right;
    @include small {
        text-align: center;
        margin-bottom: 10px;
    }
}
.politic-footer {
    color: #14143d;
    font-size: 14px;
    line-height: 1.3;
    font-weight: 400;
    opacity: 0.7;  
    @include small {
        font-size: 14px;
        
    }
}