mixin footer
    footer.footer
        .container-fluid
            .footer-container
                a(href="").logo
                    img(src="images/logo.svg", alt="")
                nav.menu.menu--footer
                    a(href="").menu__link Что делаем
                    a(href="").menu__link Портфолио
                    a(href="").menu__link Как работаем
                    a(href="").menu__link Команда
                    a(href="").menu__link Блог
                    a(href="").menu__link «Под ключ»
                a(href="tel:+74996477892").h-phone.h-phone--strong +7 (499) 647-78-92
            .footer-info
                .company-info © 2018 <br>ИП Маслов Дмитрий Валерьевич<br>ОГРНИП 314503420200018<br>г. Москва, ул. Южнопортовая, 5c7
                .f-i-right
                    a(href="mailto:customers@web-beri.ru").footer-email customers@web-beri.ru
                    a(href="").politic-footer Пользовательское соглашение
    script(src="js/libs.min.js")
    script(src="js/script.js")        