include ../header/header.pug
mixin block-index
    .block-index 
        +header
        .container-fluid
            .b-index-main
                .b-index-main__lft(class="wow fadeInLeft" data-wow-delay="0.5s")
                    h1 ПОДНИМЕМ ПРОДАЖИ ИЛИ ВЕРНЕМ ДЕНЬГИ ОБРАТНО
                    .title-desc Агентство по рекламе, маркетингу и продвижению в интернете
                    a(href="").tn-atom СМОТРЕТЬ ПОРТФОЛИО
                .b-index-main__img(class="wow fadeInRight" data-wow-delay="0.5s")
                    picture
                        source(type="image/webp" srcset="images/webp/home.webp")
                        source(type="image/png" srcset="images/home.png")
                        img(src="images/home.png", alt="")
              
                    
            .info-advantages
                .advantages(class="wow fadeInUp" data-wow-delay="0.5s")
                    .advantages__number 99%
                    span Успешных проектов
                .advantages(class="wow fadeInUp" data-wow-delay="0.5s")
                    .advantages__number 175%
                    span Средний ROI более 175%
                .advantages(class="wow fadeInUp" data-wow-delay="0.5s")
                    .advantages__number 8
                    span Статус PRO в 8 нишах

