.block-index {
    height: 760px;
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.2), rgba(255,255,255,0));
    background-color: #f5fcff;
    margin-bottom: 120px;
    @include large {
        height: auto;
        padding-bottom: 61px;
        margin-bottom: 61px;
    }
}
.b-index-main {
    display: flex;
    padding-top: 23px;
    margin-bottom: 35px;
    @include large {
        padding-left: 25px;
        padding-right: 25px;
        margin-bottom: 59px;
    }
    @include medium {
        padding-top: 81px;
        margin-bottom: 63px;
    }
    @include small {
        padding: 69px 0 0;
        margin-bottom: 46px;
    }
    h1 {
        @include small {
            margin: 0 -10px 16px;
            width: calc(100% + 20px);
        }
    }

    &__lft {
        max-width: 530px;
        padding-top: 40px;
        @include large {
            max-width: 590px;
            padding-top: 12px;
        }
        @include medium {
            max-width: 620px;
            width: 100%;
            margin: 0 auto;
            text-align: center;
            padding-top: 0;
        }
        .tn-atom {
            @include medium {
                max-width: 500px;
                width: 100%;
                margin: 0 auto;
            }
            @include small {
                padding: 13px 38px;
            }
        }
    }
    &__img {
        max-width: 580px;
        img {
            max-width: 100%;
        }
        @include medium {
            display: none;
        }
    }
}
h1 {
    color: #14143d;
    font-size: 40px;
    line-height: 1.2;
    font-weight: 700;
    margin-bottom: 19px;
    @include large {
        font-size: 36px;
    }
    @include medium {
        font-size: 32px;
    }
    @include small {
        font-size: 22px;
        letter-spacing: 0.5px;
        margin-bottom: 16px;
    }
}
.title-desc {
    font-size: 20px;
    margin-left: 2px;
    margin-bottom: 63px;
    @include medium {
        margin-bottom: 43px;
    }
    @include small {
        font-size: 16px;
        margin-bottom: 48px;
        margin-left: 0;
    }
}
.tn-atom {
    color: #ffffff;
    font-size: 15px;
    line-height: 1.55;
    font-weight: 500;
    border-radius: 30px;
    background-color: #2c8dbf;
    display: inline-block;
    text-decoration: none;
    padding: 16px 41px 15px;
    transition: background-color 0.2s ease-in-out;
    &:hover {
        background-color: #2F96CC;
    }
    &--project {
        padding: 16px 53px 15px;
    }
}
.info-advantages {
    display: flex;
    justify-content: space-between;
    @include large {
        margin: 0 20px;
    }
    @include medium {
        margin: 0 50px;
    }
    @include small {
        flex-direction: column;
        margin: 0;
    }
}
.advantages {
    display: flex;
    align-items: center;
    padding-right: 67px;
    @include medium {
        padding-right: 0;
    }
    @include small {
        flex-direction: column;
        margin-bottom: 15px;
    }
    &__number {
        font-size: 45px;
        color: #14143D;
        margin-right: 11px;
        @include medium {
            font-size: 33px;
            margin-right: 5px;
        }
        @include small {
            font-size: 30px;
            margin: 0 0 0;
            line-height: 1.2;
        }
    }
    span {
        font-size: 20px;
        line-height: 1.3;
        max-width: 160px;
        display: block;
        @include large {
            font-size: 18px;
        }
        @include medium {
            font-size: 17px;
        }
        @include small {
            font-size: 16px;
            max-width: none;
            text-align: center;
        }
    }
}