
.index-project {
    margin-bottom: 70px;
}
.project {
    display: flex;
    margin-bottom: 97px;
    @include large {
        padding-left: 17px ;
        margin-bottom: 71px;
    }
    @include medium {
        flex-direction: column;
        padding: 0 55px;
        margin-bottom: 64px;
    }
    @include small {
        padding: 0;
        margin: 0 -5px 55px;
        width: calc(100% + 10px);
    }
    &:last-child {
        margin-bottom: 0;
    }
    &:nth-child(2n) {
        flex-direction: row-reverse;
        @include large {
            padding-right: 25px;
            padding-left: 0;
        }
        @include medium {
            flex-direction: column;
            padding: 0 55px;
        }      
        @include small {
            padding: 0 0;
        }  
        .project__img {
            margin-left: auto;
            @include large {
                margin-right: 0;
                margin-left: 35px;
            }
            @include medium {
                margin-left: 0;
            }
        }
        .project__name {
            span {
                text-align: right;
                margin-left: auto;
                @include medium {
                    text-align: left;
                    margin: 0;
                }
            }
            &:after {
                transform: rotate(180deg);
                right: auto;
                left: 8px;
                bottom: 2px;
            }
        }
        .project__desc {
            padding-left: 49px;
            @include medium {
                padding-left: 0;
            }
            &:after {
                left: 0;
            }
        }
        .project__works {
            padding-left: 0;
            @include small {
                padding: 0 15px;
            }
        }
    }
    &--voya-zemlya {
        .project__desc {
            &:after {
                background-image: url(../images/svoya-zemlya_bg.jpg);
            }
        }
    }
    &--pd {
        .project__desc {
            &:after {
                background-image: url(../images/pd_bg.jpg);
                @include large {
                    display: none;
                }
            }
        }
    }    
}
.project__info {
    max-width: 645px;
    width: 100%;
    flex: 0 0 auto;
    position: relative;
    z-index: 2;
    @include large {
        max-width: 500px;
    }
    @include medium {
        max-width: none;
    }
}
.project__img {
    max-width: 600px;
    @include large {
        margin-right: 40px;
    }    
    @include medium  {
        margin-right: 0;
        max-width: 594px;
        margin-bottom: 24px;
    }
    @include small {
        margin-bottom: 19px;
    }
    img {
        max-width: 100%;
    }

}
.project__name {
    font-size: 24px;
    line-height: 1.3;
    font-weight: 700;
    position: relative;
    width: 100%;
    margin-bottom: 23px;
    span {
        max-width: 300px;
        display: block;
        @include medium {
            max-width: 350px;
        }
    }
    @include large {
        padding-bottom: 7px;
        margin-bottom: 16px;
    }
    @include small {
        font-size: 22px;
        padding-bottom: 0;
    }
    &:after {
        content: '';
        position: absolute;
        width: 430px;
        height: 9px;
        background-image: url(../images/line.svg);
        background-size: cover;
        background-repeat: no-repeat;
        right: 0;
        bottom: 4px;
        @include large {
            bottom: 0;
        }
        @include medium {
            display: none;
        }        
    }
}
.project__desc {
    padding-top: 43px;
    padding-left: 5px;
    padding-right: 15px;
    padding-bottom: 25px;
    width: 100%;
    position: relative;
    @include large {
        padding-top: 23px;
        font-size: 15px;
    }
    @include medium {
        padding: 0 0 0 ;
        font-size: 16px;
        
    }
    &:after {
        content: '';
        box-shadow: 0px 0px 45px 0px rgba(44,141,191,0.1);
        background-position: right bottom;
        background-repeat: no-repeat;        
        width:  560px;
        height: 100%;
        position: absolute;
        left: -45px;
        top: 0;
        background-color: #ffffff;
        z-index: -1;
        @include medium {
            display: none;
        }
    }
}
.project__title {
    font-size: 22px;
    line-height: 1.3;
    font-weight: 700;
    margin-bottom: 14px;
    @include medium {
        max-width: 560px;
    }
    @include small {
        font-size: 20px;
    }
}
.project__works {
    padding-left: 10px;
    min-height: 260px;
    @include large {
        padding-left: 0;
    }
    @include medium {
        margin-bottom: 31px;
        max-width: 560px;
    }
    @include small {
        font-size: 15px;
        padding: 0 15px;
        margin-bottom: 25px;
    }
}
.tn-atom--project {
    @include medium {
        margin: 0 auto;
        max-width: 300px;
        display: block;
        padding: 16px 0 15px;
        text-align: center;
    }
    @include small {
        max-width: 260px;
    }
}