mixin index-project
    section.index-project
        .container-fluid
            h3.title.title--index-project Наши проекты
            .project-list
                .project
                    .project__info
                        h4.project__name(class="wow fadeInLeft" data-wow-delay="0.5s")
                            span Кейс CMD&nbsp;- медцентр и&nbsp;лаборатория
                        .project__img(class="wow fadeInLeft" data-wow-delay="1s")
                            picture
                                source(type="image/webp" srcset="images/webp/cmd.webp")
                                source(type="image/jpeg" srcset="images/cmd.jpg")
                                img(src="images/cmd.jpg", alt="")
                           
                    .project__desc
                        .project__title(class="wow fadeInRight" data-wow-delay="0.5s") Как запустить медцентр и лабораторию, обеспечив полную запись?
                        .project__works(class="wow fadeInRight" data-wow-delay="0.9s")
                            .project__work
                                strong Что делали: 
                                span дизайн и упаковка услуг, разработка сайта, запуск рекламных кампаний, SEO-продвижение.
                            .project__work
                                strong Задачи: 
                                span обеспечить приток пациентов в клинику, достичь высокие показатели конверсии, уменьшить стоимость привлечения клиентов.
                            .project__work
                                strong Когда работали:  
                                span 2018 г. — настоящее время
                            .project__work
                                strong Результаты: 
                                span конверсия сайта на уровне 4-5%, стоимость привлечения клиента 450-500 руб, обеспечение полной записи медцентра.
                        a(href="").tn-atom.tn-atom--project(class="wow fadeInLeft" data-wow-delay="1.5s") СМОТРЕТЬ ПОДРОБНЕЕ
                .project.project--voya-zemlya
                    .project__info
                        h4.project__name(class="wow fadeInRight" data-wow-delay="0.5s")
                            span Самый земельный проект
                        .project__img(class="wow fadeInRight" data-wow-delay="1s")
                            picture
                                source(type="image/webp" srcset="images/webp/svoya-zemlya.webp")
                                source(type="image/jpeg" srcset="images/svoya-zemlya.jpg")
                                img(src="images/svoya-zemlya.jpg", alt="")
                          
                    .project__desc
                        .project__title(class="wow fadeInLeft" data-wow-delay="0.5s") «Своя Земля»
                        .project__works(class="wow fadeInLeft" data-wow-delay="0.9s")
                            .project__work
                                strong Что делали: 
                                span анализ рынка, выбор рекламных стратегий, контекстная реклама
                            .project__work
                                strong Задачи: 
                                span увеличить продажи земельных участков
                            .project__work
                                strong Когда работали:  
                                span 2016 г. — 2017 г.
                            .project__work
                                strong Результаты: 
                                span на 2-й месяц работы мы вышли на запланированную стоимость лида, отсеяв все неэффективные кампании и запросы.
                        a(href="").tn-atom.tn-atom--project(class="wow fadeInRight" data-wow-delay="1s") СМОТРЕТЬ ПОДРОБНЕЕ  
                .project.project--pd
                    .project__info
                        h4.project__name(class="wow fadeInLeft" data-wow-delay="0.5s")
                            span Самый масштабный проект
                        .project__img(class="wow fadeInLeft" data-wow-delay="1s")
                            picture
                                source(type="image/webp" srcset="images/webp/pd.webp")
                                source(type="image/jpeg" srcset="images/pd.jpg")
                                img(src="images/pd.jpg", alt="")
                    .project__desc(class="wow fadeInRight" data-wow-delay="0.9s")
                        .project__title(class="wow fadeInRight" data-wow-delay="0.5s")  «Prima Donna»
                        .project__works
                            .project__work
                                strong Что делали: 
                                span анализ рынка, выбор стратегии, посадочные страницы, контекстная и таргетированная реклама.
                            .project__work
                                strong Задачи: 
                                span Привести покупателей в оффлайн магазины через интернет.
                            .project__work
                                strong Когда работали:  
                                span 2017 г. — настоящее время
                            .project__work
                                strong Результаты: 
                                span Уже на следующий месяц после запуска рекламы мы получили 821 заявку на сертификат только через форму на лэндингах.
                        a(href="").tn-atom.tn-atom--project(class="wow fadeInLeft" data-wow-delay="1s") СМОТРЕТЬ ПОДРОБНЕЕ